@import _defaults
@import _variables

@import _nav
@import _footer
button
    cursor: pointer
    background: none
    outline: none
    border: none
a
    color: inherit

h1, h2, h3, h4, h5, h6
    font-family: 'Times New Roman', Times, serif
    font-weight: normal
// respo nav
.navigation
    padding: 5px 14px
    top: 0
    @include plus1025()
        position: relative
        padding: 0 81px

.mobile-holder
    min-height: 0
    max-height: 0
    padding: 0
    overflow: hidden
    transition:
    @include plus1025()
        display: none !important
    transition: all .3s ease-out
    &.open
        min-height: calc(100vh - 110px)
        max-height: calc(100vh - 110px)

@import _myheader

@import _mysec1

@import _services

@import _homegallery


@import _aboutpage

@import _contactoriginal


@import _contactmy